@import "../../utils/vavriables";

.projects {
  padding: 4rem 2rem;
  background-color: $color3; /* Background Color */

  .projectsTitle {
    font-size: 2.5rem;
    font-weight: bold;
    color: $color1; /* Primary Color */
    text-align: center;
    margin-bottom: 2rem;
  }

  .projectsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
}
